@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="GlobalModule" ng-controller="LandingPageController">
<head>
    <title ng-bind="landingPageModel.title"></title>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Build/Content/angular-material.min.css" rel="stylesheet" />
    <link href="~/Build/Content/angular-material.layouts.min.css" rel="stylesheet" />
    <link href="~/Build/Content/LayoutStyle.css" rel="stylesheet" />
    <link href="~/Build/Content/docs.css" rel="stylesheet" />
</head>
<body layout="row">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar layout="column" layout-align="end center">
            <md-card class="logo">
                <img src="~/Images/CIR_Logo.png" />
            </md-card>
            <h3>CI Reporting</h3>
        </md-toolbar>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="item in menu" role="link" md-ink-ripple>
                <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
                <div class="md-list-item-text">
                    <span class="md-body-2">{{item.title}}</span>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Management</md-subheader>
            <md-list-item class="md-2-line" ng-repeat="item in admin" role="link" md-ink-ripple>
                <md-icon md-svg-icon="{{item.icon}}" aria-label="{{item.title}}"></md-icon>
                <div class="md-list-item-text">
                    <span class="md-body-2">{{item.title}}</span>
                </div>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div layout="column" flex layout-fill>
        <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
            <div class="md-toolbar-tools docs-toolbar-tools">
                <h3>
                    Dashboard
                </h3>
            </div>
        </md-toolbar>
        <md-content flex>
            @*<ui-view layout="column" layout-fill layout-padding></ui-view>*@
        </md-content>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Build/Scripts/ShareLibs/angular/angular.min.js"></script>
    <script src="~/Build/Scripts/ShareLibs/angular/angular-animate.min.js"></script>
    <script src="~/Build/Scripts/ShareLibs/angular/angular-ui-router.min.js"></script>
    <script src="~/Build/Scripts/ShareLibs/angular/angular-aria.min.js"></script>
    <script src="~/Build/Scripts/ShareLibs/angular/angular-material.min.js"></script>
    <script src="~/Build/Scripts/Custom/MyApp.js"></script>
    <script src="~/Build/Scripts/Custom/Controller/LandingPageController.js"></script>
</body>
</html>