@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="GlobalModule" ng-controller="LandingPageController">
<head>
    <title ng-bind="landingPageModel.title"></title>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Build/Content/angular-material.min.css" rel="stylesheet" />
    <link href="~/Build/Content/angular-material.layouts.min.css" rel="stylesheet" />
    <link href="~/Build/Content/LayoutStyle.css" rel="stylesheet" />
</head>
<body layout="row">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-tall md-hue-1">
            <span flex></span>
            <div layout="column" class="md-toolbar-tools-bottom inset" >
                <span></span>
                <div>Firstname Lastname</div>
                <div>email@domainname.com</div>
            </div>
        </md-toolbar>
        <md-list>
            <md-item ng-repeat="item in menu">
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                        </div>
                        <div class="inset">
                            {{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-item>
            <md-divider></md-divider>
            <md-subheader>Management</md-subheader>
            <md-item ng-repeat="item in admin">
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                        </div>
                        <div class="inset">
                            {{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-item>
        </md-list>
    </md-sidenav>
    <div layout="column" flex layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>
                    Dashboard
                </h3>

            </div>

        </md-toolbar>
        <md-content flex md-scroll-y>
            @*<ui-view layout="column" layout-fill layout-padding></ui-view>*@
        </md-content>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Build/Scripts/ShareLibs/angular/angular-animate.min.js"></script>
    <script src="~/Build/Scripts/ShareLibs/angular/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Build/Scripts/ShareLibs/angular/angular-material.min.js"></script>
    <script src="~/Build/Scripts/Custom/MyApp.js"></script>
    <script src="~/Build/Scripts/Custom/Controller/LandingPageController.js"></script>
</body>
</html>